<header class="mb-auto">
    <div>
        <%= link_to "Antoni", root_path, class: "float-md-start mb-0 text-decoration-none nav-link text-white fw-bold " %>
        <nav class="nav nav-masthead justify-content-center float-md-end">
        <%= link_to "Home", root_path, class: "nav-link" %>
        <%= link_to "About", about_me_path, class: "nav-link" %>
        <%= link_to "Contact", contact_path, class: "nav-link" %>
        <%= link_to "Portfolio", portfolios_path, class: "nav-link" %>
        <%= link_to "Blog", blogs_path, class: "nav-link" %>
        <%= login_helper "nav-link" %>
        </nav>
    </div>
</header>